@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-bg-black;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.area {
  grid-template-areas:
    "sidebar  header header header"
    "sidebar  main main main"
    "sidebar  main main main";
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
  width: 100%;
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  max-width: 95%;
  margin-inline: auto;
  padding: 30px 20px;
}
.main svg {
  box-sizing: border-box !important;
}
/* width */
.scrollBar::-webkit-scrollbar,
.main::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track,
.main::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-thumb {
  background: rgba(72, 72, 72, 0.89);
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover,
.main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ff4e84;
}
@media screen and (max-width: 1280px) {
  .area {
    grid-template-areas:
      "sidebar  sidebar header header"
      "main  main main main"
      "main  main main main";
  }
}
